.sidebar {
    background: #04192d;
    width: 150px;
    height: 100%;
    position: fixed;
    top: 0;
    margin-left: -8px;
    z-index: 3;
    min-height: 500px;
    text-align: center;
}

/* .navbar-brand {
    
} */

.logo {
    padding-top: 5px;
    height: 40px;
}

nav {
    display: block;
    /* text-align: center; */
    position: absolute;
    height: 210px;
    top: 35%;
    margin-top: -120px;
    width: 100%;
}

nav a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #ffffff;
    display: block;
    line-height: 31px;
    height: 25px;
    position: relative;
    text-decoration: none;
}

.employeesSub {
    font-size: 15px;
}

.leadsSub {
    font-size: 15px;
}

.invoiceSub {
    font-size: 15px;
}